body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@import 'layouts/breakpoints';
@import 'layouts/sidebar';
@import 'layouts/navbar';
@import 'layouts/modal';
@import 'layouts/card';
@import 'layouts/table';
@import 'pages/login';
@import 'pages/dashboard';
@import 'pages/kriteria';
@import 'pages/bobot';
@import 'pages/produk';

.lucide {
    width: 18px;
    height: 18px;
    stroke-width: 2;
    vertical-align: middle;
}

.sidebar .lucide {
    margin-right: 10px;
}
